@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400');

/* Set core body defaults */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Override UIkit Styles */
.uk-input, .uk-select, .uk-button {
  border-radius: 0.35rem;
}

.uk-icon-link {
  cursor: pointer;
}

.uk-notification-message {
  border-radius: 0.35rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

/* Budget Tracker Project Styles */
.section-balance {
  text-align: center;
  margin-bottom: 2rem;
  padding: 8rem;
  background: linear-gradient(to bottom right, #263238, #78909c);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.balance {
  font-weight: 300;
  font-size: 4rem;
  color: #fff;
}

.section-inputs {
  display: flex;
  justify-content: center;
}

.section-items {
  margin-left: 2rem;
  margin-right: 2rem;
}

.col-delete {
  text-align: center;
}

.empty-state {
  text-align: center;
  font-size: 1.5rem;
}
