/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* Inherit fonts for buttons */
button {
  font: inherit;
}

/* CUSTOM STYLES */
#root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-balance {
  position: relative;
  background-color: #616161;
  color: white;
  transition: background-color 1s ease-in-out;
  height: 300px;
  font-weight: 100;
}

.balance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.section-input {
  position: relative;
  font-weight: 200;
}

.section-items {
  font-weight: 200;
}

.empty-state {
  display: none;
}

.items-table {
  display: none;
}
